<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/style.css">
    <title>Add Product</title>
</head>
<body>
    <header class="bg-blue-400 h-16 flex justify-left items-center">
        <nav class="px-6 text-white">
            <ul class="flex gap-4">
                <li><a href="/">Shop</a></li>
                <li><a href="/admin/add-product">Add Product</a></li>

            </ul>
        </nav>
    </header>
    <main class="pt-7">
      <div class=" mx-auto w-full max-w-lg">
        <h1 class="font-bold text-red-600">My Product</h1>
        <p class="pt-5">List of my product</p>
      </div>
    </main>
</body>
</html>